<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Teams</title>
  </head>
  <body>
    <%- include('navBar'); %> <% if (locals.teams) { %>
    <h1>Teams:</h1>
    <% for (const team of teams) { %>
    <ul>
      <li>
        <a class="team" href="/team/<%= team.teamid %>"
          >ID: <%= team.teamid %>, team name: <%= team.teamname %></a
        >
      </li>
    </ul>
    <% } %> <% } %> <%- include('createTeamForm'); %>
  </body>
</html>
