<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Players of <%= team.teamname %></title>
  </head>
  <body>
    <%- include('navBar'); %>
    <div class="container">
      <div class="content">
        <div class="list-container">
          <% if (locals.players && players.length > 0) { %>
          <h1>Players of <%= team.teamname %></h1>
          <% for (const player of players) { %>
          <ul>
            <li><%= player.name %>, <%= player.position %></li>
          </ul>
          <% } } else { %>
          <p class="nothing-msg">
            There are no players for <%= team.teamname %>!
          </p>
          <% } %>
        </div>
        <%- include('createPlayerForm', team); %>
      </div>
    </div>
  </body>
</html>
