<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Players of <%= team.teamname %></title>
  </head>
  <body>
    <%- include('navBar'); %>
    <div class="container">
      <div class="content">
        <div class="list-container">
          <% if (locals.players && players.length > 0) { %>
          <h1>Players of <%= team.teamname %></h1>
          <% for (const player of players) { %>
          <ul>
            <li>
              <span class="listitem"
                ><%= player.name %>, <%= player.position %></span
              ><a
                class="edit"
                href="/player/edit/<%= team.teamid %>/<%= player.playerid %>"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
              <a
                class="delete"
                href="/player/delete/<%= team.teamid %>/<%= player.playerid %>"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </li>
          </ul>
          <% } } else { %>
          <p class="nothing-msg">
            There are no players for <%= team.teamname %>!
          </p>
          <% } %>
        </div>
        <a class="add-btn" href="/team/<%= team.teamid %>/newPlayer"
          >Add player</a
        >
      </div>
    </div>
  </body>
</html>
