<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Players of <%= team.teamname %></title>
  </head>
  <body>
    <%- include('navBar'); %> <% if (locals.players) { %>
    <h1>Players of <%= team.teamname %>:</h1>
    <% for (const player of players) { %>
    <ul>
      <li>ID: <%= player.playerid %>, player name: <%= player.name %></li>
    </ul>
    <% } %> <% } %>
  </body>
</html>
